<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Room.RoomMainActivity"></activity>
        <activity android:name=".Room.RoomGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Room.RoomStartActivity" />
        <activity android:name=".Room.RoomChoiceActivity" />
        <activity android:name=".Board.AnotherBoardActivity" />
        <activity android:name=".Board.BoardActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Message.ChatlogActivity" />
        <activity android:name=".Message.LatestMassageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".User.RegisterActivity">

            <!-- 以下一時的にコメントアウト -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".User.LoginActivity" />
        <activity android:name=".Message.NewMassageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Message.LatestMassageActivity" />
        </activity>
    </application>

</manifest>